<div class="container-fluid d-flex p-ml bg-light col-3 justify-content-between vh-100 flex-column">
    <div>
        <h1 class="bg bg-logo logo-size mb-ml"></h1>
        <ul>
            <li class="mb-4 position-relative">
                <a href="" class="d-flex align-items-center nav-hover">
                    <span class="material-symbols-rounded me-3">
                        insert_chart
                    </span>
                    <h6 class="fw-bold">Dashboard</h6>
                </a>
            </li>
            <li class="mb-4 position-relative">
                <a href="" class="d-flex align-items-center nav-hover">
                    <span class="material-symbols-rounded me-3">
                        forum
                    </span>
                    <h6 class="fw-bold">Question</h6>
                </a>
            </li>
            <li class="mb-4 position-relative">
                <a href="assignment.html" class="d-flex align-items-center nav-hover">
                    <span class="material-symbols-rounded me-3">
                        assignment
                    </span>
                    <h6 class="fw-bold">Assignment</h6>
                </a>
            </li>
            <li class="mb-4 position-relative">
                <a href="" class="d-flex align-items-center nav-hover">
                    <span class="material-symbols-rounded me-3">
                        video_library
                    </span>
                    <h6 class="fw-bold">Course</h6>
                </a>
            </li>
            <li class="mb-4 position-relative">
                <a href="index.html" class="d-flex align-items-center nav-hover nav-active">
                    <span class="material-symbols-rounded me-3">
                        group
                    </span>
                    <h6 class="fw-bold">Admin</h6>
                </a>
            </li>
            <li class="mb-4 position-relative">
                <a href="" class="d-flex align-items-center nav-hover">
                    <span class="material-symbols-rounded me-3">
                        settings
                    </span>
                    <h6 class="fw-bold">Settings</h6>
                </a>
            </li>
        </ul>
    </div>
    <div class="d-flex align-items-center">
        <div class="bg bg-cover bg-person-andy person-size me-3"></div>
        <div class="">
            <h6 class="fs-6 fw-bold mb-1">Andy Chen</h6>
            <p class="fs-s text-secondary">andy0401@mail.com</p>
        </div>
    </div>
</div>