@mixin size($width, $height) {
    width: $width;
    height: $height;
}
@mixin align-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@mixin row-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}